* {
    margin: 0;
    padding: 0;
}


nav {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
}

nav .logo img {
    width: 60px;
}

nav .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    /* background-color: yellowgreen; */
}

nav .links .nav-link{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}
